@charset "utf-8";
#wrap {position:relative; overflow:hidden; min-width:320px; min-height: 100vh; display: flex; flex-direction: column;}

/* 메인페이지 ----------------------------------------------------------------------------------  */
#main {min-height:calc(100vh - 188px); padding-top: 207px; padding-bottom: 52px;}


/* 네비 - PC ----------------------------------------------------------------------------------  */

#header {	position: fixed; top: 0px;	left: 0px; width: 100%; z-index: 100; box-shadow: 0 5px 5px rgba(0,0,0,0.1);}
#top_ban {background:#b0caeb;}
#top_ban {display:none}
#top_ban .inwrap {position:relative; width:95%; max-width:1440px; margin:0 auto;}
#top_ban .ban_wrap {overflow:hidden;}
#top_ban .ban_wrap > a {float:left; width:50%;}
#top_ban .ban_wrap img {display:block;}
#top_ban .ban_footer {position:absolute; right:0; bottom:0; margin-bottom:1.19%; font-size:0.875rem; color:#47505c;}
#top_ban .ban_footer * {vertical-align:middle;}
#top_ban #ban_chk {margin-right:9px;}
#top_ban .btn_close {display:inline-block; margin-left:13px; padding:0 10px; border:1px solid #2f3236; font-size:0.875rem; color:#fff; line-height:19px; background:#414449;}


/* #pc_header .inwrap {position:relative; width:100%; max-width:1440px; margin:0 auto;} */
#pc_header .header_top {background:#8F735A;}
#pc_header .header_top .inwrap {overflow:hidden;}
#pc_header .top_util {width:100%; display: flex; justify-content: flex-end; align-items: center;}
#pc_header .top_util li {position: relative;  padding:0 14px; color:#fff;  font-size:0.875rem;}
#pc_header .top_util li::after {content:"|"; display: block; color: #fff; position: absolute; top: 50%; right: 0%; transform: translateY(-50%); }
#pc_header .top_util li.last::after {content:"";}
#pc_header .top_util a {display:block; font-size:0.875rem; color:#fff; line-height:35px;}
#pc_header .top_util a svg {margin-bottom: -3px;}

#pc_header .header_middle {background-color: #fff; padding: 16px 0px;  display: flex; justify-content:center; align-items:center; gap: 4px; border-bottom: 1px solid #EFEFEF;}
#pc_header .header_middle .inwrap {display: flex; flex-direction: column; gap: 8px;}
#pc_header .header_middle .inwrap h2 { font-family: 'font_title'; font-weight: 600; color: #666;}


#pc_header .header_bottom {background-color: #fff; border-bottom: 1px solid #EFEFEF;}


#pc_gnb {text-align:center; font-size:0;}
.nav_back {display: none; width:100%; position: absolute; top: 100%; left: 0; height: 230px; background-color: #fff; box-shadow: 0 5px 5px rgba(0,0,0,0.1); border: 1px solid #f4f4f4;}
.nav_back.on {display:block;}

#pc_gnb .depth1 {width:100%; max-width:1440px; margin:0 auto; display: flex;	align-items: center;	justify-content: space-between;}
#pc_gnb .depth1 > li {display:inline-block; position:relative; flex-grow: 1; }
#pc_gnb .depth1 > li > a {display:block; font-size:1.125rem; line-height:60px; transition:color 0.4s;}
#pc_gnb .depth1 > li.on .depth2 {display:block;}
#pc_gnb .depth2 {overflow-y: auto; max-height: calc(100vh - 120px); display:none; position:absolute; padding: 24px 8px 24px; top:100%; left:0; width:100%;}
#pc_gnb .depth2 > li {position:relative; margin-bottom: 8px;}
#pc_gnb .depth2 > li > a {border-radius: 25px;word-break: break-all; display:block; position:relative; font-size:1rem; color:#666666; text-align:center; background:#fff;  padding: 10px 24px 8px 8px; transition:all 0.4s; white-space: pre-line}
#pc_gnb .depth2 > li > a:after {position:absolute; top:50%; right:12px; /*transform: rotate(90deg);*/ width:8px; height:12px; margin-top:-6px; background:url('../images/icon/caret-down-solid.svg') 0 bottom; content:'';}
#pc_gnb .depth2 > li.no_child > a {padding: 10px 10px 8px 8px;}
#pc_gnb .depth2 > li.no_child > a:after {display:none;}
#pc_gnb .depth2 > li:hover > a:after {background:url('../images/icon/caret-down-solid_blue.svg') 0 bottom;}
/* #pc_gnb .depth2 > li:hover > a {color: #836953;} */
#pc_gnb .depth2 > li > a:hover {color:#665242; background:#f8f8f8; text-decoration:underline; text-decoration-color: #836953;}
#pc_gnb .depth2 > li.on > a:after, #pc_gnb .depth2 > li > a:hover:after {background-position:0 0;}
#pc_gnb .depth2 > li.on .depth3 {display:block;}
#pc_gnb .depth3 {display: none;}
#pc_gnb .depth3 > li {position:relative;}
#pc_gnb .depth3 > li > a {display:block; position:relative; padding: 8px; padding-left: 22px; padding-right: 0px; padding-bottom: 0px;font-size:0.9375rem; color:#666666; text-align:left; transition:all 0.4s;}
#pc_gnb .depth3 > li > a::after {content:""; position: absolute; left:8px; top: 15px; width: 6px; height: 1px; background-color: #e2e2e2;}
#pc_gnb .depth3 > li > a:hover {color:#665242; background:#fff;}

/* 네비 - 모바일 ----------------------------------------------------------------------------------  */


#mobile_header {display:none;}
#mobile_header h1 {margin:auto 20px;}
#mobile_header h1 a {max-width: 230px;}
#mobile_header h1 img {height:40px;}
#mobile_header .btn_menu {overflow:hidden; position:absolute; top:23px; right:20px; width:28px; height:26px; text-indent:-999px; background:url('../images/icon/icon_menu_open.png') no-repeat center; background-size:36px auto;}
#mobile_header .header_top {height:66px; background:#fff; display: flex; justify-content: flex-start; align-items: center;}

#mobile_gnb {position:fixed; overflow-y:auto; top:66px; right:-100%; width:50%; min-width:300px; height: calc(100vh - 66px);; padding:26px 29px 37px; background:#f4f4f4; transition:right 0.5s;}
#mobile_gnb .top_util {overflow:hidden; margin-left:-6px;}
#mobile_gnb .top_util li {float:left; position:relative;}
#mobile_gnb .top_util li+li:before {position:absolute; top:50%; left:0; width:1px; height:11px; margin-top:-5px; background:#cacaca; content:'';}
#mobile_gnb .top_util a {display:block; padding:0 8px; font-size:0.92857rem; color:#777777; line-height:24px;}
#mobile_gnb nav {margin:15px -29px 0; background:#fff;}
#mobile_gnb nav a:after {position:absolute; top:0; right:25px; width:20px; font-family:'font_basic_M','돋움',Dotum,'굴림',Gulim,Helvetica, 'Apple SD Gothic Neo',Tahoma, Geneva, sans-serif,verdana; font-size: 1.285715rem; color:#828283; font-weight:normal; text-align:center; content: '+';}
#mobile_gnb li.no_child > a:after {display:none;}
#mobile_gnb .depth1 > li > a {display:block; position:relative; padding-left:25px; border-bottom:1px solid #d1d1d1; font-size:1.071425rem; color:#151515; line-height:48px;}
#mobile_gnb .depth2 {display:none;}
#mobile_gnb .depth2 > li > a {display:block; position:relative; padding-left:25px; border-bottom:1px solid #ddd; font-size:1.071425rem; color:#333; line-height:36px; background:#f4f4f4;}
#mobile_gnb .depth2 > li > a:after {color:#bababb;}
/* #mobile_gnb .depth2 > li > a:hover {color:#665242; background:#f8f8f8; text-decoration:underline; text-decoration-color: #836953;} */
#mobile_gnb .depth3 {display:none;}
#mobile_gnb .depth3 > li > a {display:block; position:relative; padding-left:30px; border-bottom:1px solid #c4c4c4; font-size:0.85714rem; color:#151515; line-height:36px; background:#e1e1e1;}
#mobile_gnb .depth3 > li > a:after {display:none;}
#mobile_gnb .depth3 > li > a:before {position:absolute; top:0; left:22px; content:'-'}
#mobile_gnb li.on > a:after {content:'-'}
#mobile_gnb .depth1 > li.on > a {border-color:#9e9ea0; color:#fff; background:#836953;}
#mobile_gnb .depth1 > li.on > a:after {color:#fff;}
#mobile_gnb .depth1 > li.on .depth2 {display:block;}
#mobile_gnb .depth2 > li.on .depth3 {display:block;}



#mobile_header.menu_open .btn_menu {background-image:url('../images/icon/icon_menu_close.png'); background-size:26px auto;}
#mobile_header.menu_open #mobile_gnb {right:0;}



/* 푸터 ----------------------------------------------------------------------------------  */

#footer {background:#3B3837;}
.fcont {overflow:hidden; width:95%; max-width:1440px; margin:0 auto; padding:55px 0;}
.fcont .b_logo {float:left; margin-right:45px;}
.fcont address {float:left; font-size:0.9375rem; color:#929191; line-height:1.73; font-weight:300; letter-spacing:0;}
.fcont address span {display:inline-block; padding:0 10px;}
.fcont address p:last-child span {color:#6C6C6C}




/* 서브페이지 ----------------------------------------------------------------------------------  */
#main.sub {}
.sub_top {margin:2rem 0 4rem; }
/* .sub_top::after {content:""; width: 100%; max-width:1440px; height: 1px; background-color: #836953 ; position: absolute; bottom: 0px; left: 50%; transform: translate(-50%, 0);} */



.sub_top .sub_breadcrumb ul {display: flex; justify-content: flex-start; align-items: center; gap:1.5rem; margin-bottom: 2.5rem;}
.sub_top .sub_breadcrumb ul li {position: relative; color: #9f9f9f;}
.sub_top .sub_breadcrumb ul li::before {content:">"; position: absolute; top: 50%; left: -16px; transform: translate(0, -50%); }
.sub_top .sub_breadcrumb ul li a {color: #9f9f9f; font-size: 0.875rem;}
.sub_top .sub_breadcrumb ul li a:hover {text-decoration: underline;}
.sub_top .sub_breadcrumb ul li:first-child {padding-left: 1.25rem;}
.sub_top .sub_breadcrumb ul li:first-child::before {content:""; background: url(../images/icon/house-solid-full_g.svg) no-repeat; width: 17px; height: 17px; left: 0px; transform: translate(0, -56%);}
/* .sub_top .sub_breadcrumb ul li::before {background: url(../images/icon/house-solid-full_g.svg) no-repeat ; background-position: center; background-size: 15px auto; top: 50%; left: -100%;} */


.sub_top .sub_title {position: relative;}
.sub_top .sub_title::after {content:""; width: 100%; max-width:1440px; height: 1px; background-color: #e6e6e6 ; position: absolute; bottom: -1px; left: 50%; transform: translate(-50%, 0);}


.sub_top h2 {flex-grow: 1; padding-bottom: 3rem; font-size:2.5rem; color: #665242; font-family: 'font_title', "font_basic_B", "돋움", Dotum, "굴림", Gulim, Helvetica, "Apple SD Gothic Neo", Tahoma, Geneva, sans-serif, verdana;}


.sub_top .sub_tab_2deps {width:100%; max-width:1440px; margin:0 auto; padding: 0px;}
.sub_top .sub_tab_2deps ul {display: flex; justify-content: flex-start; align-items: center; position: relative;}
.sub_top .sub_tab_2deps ul::after {content:""; width: 100%; max-width:1440px; height: 2px; background-color: #836953 ; position: absolute; bottom: 0px; left: 50%; transform: translate(-50%, 0);}



.sub_top .sub_tab_2deps li {flex-grow: 1;}
.sub_top .sub_tab_2deps li a {color: #9F9F9F; font-size: 1.125rem; text-align: center; padding: 1rem 0.5rem; border: 1px solid #e6e6e6; background-color: #f0f0f0;}
.sub_top .sub_tab_2deps li a:hover {color: #836953; text-decoration: underline; }
.sub_top .sub_tab_2deps li.active a {background-color: #836953; color: #fff; font-family: "font_basic_B"; border: 1px solid #836953;}


/* 서브 - 타이틀 */
/* .content_html {display: flex; justify-content: center; flex-direction: column; align-items: flex-start; gap:48px;} */
.content_html .contents_title {margin-bottom: 3rem; display: flex; flex-direction: column; justify-content: center;  align-items: center; gap:0.5rem; /*color: #665242;*/}
.content_html .contents_title p {font-size: 1.5rem; font-family: 'font_title'; color: #666;}
.content_html .contents_title h3 {font-size: 2.5rem; color: #665242; text-align: center;}

.contents_sub_title {width:100%; text-align: left; position: relative; padding-left: 0.8rem; font-size: 1.75rem; font-family: "font_basic_B"; margin:4.5rem 0 1.5rem; }
.contents_sub_title::before {content: ""; display: block; position: absolute; top: 50%; left: 0; transform: translate(0, -50%); width: 3px; height: 22px; background-color: #836953; }


/* 서브 - 텍스트박스공통 */
.sub_txt_box {margin: 1.5rem 0 1rem 1rem;}
.sub_txt_box ul {display: flex; flex-direction: column; gap: 1.5rem;}
.sub_txt_box ul li {display: flex; flex-direction: column; gap: 0.5rem;}
.sub_txt_box ul li h5 {text-align: left; font-size: 1.125rem; font-family: "font_basic_B"; position: relative;}
.sub_txt_box ul li p {margin-left: 0; text-align: left; }
.sub_txt_box ul li.dot_list h5 {padding-left: 1rem;}
.sub_txt_box ul li.dot_list h5::before {content: ""; display: block; position: absolute; top: 50%; left: 0; transform: translate(0, -50%); width: 6px; height: 6px; /*border: 2px solid #836953;*/ background-color: #836953; }
.sub_txt_box ul li.dot_list p {margin-left: 1rem;  }

/* 서브 - 컬러텍스트박스 */
.color_txt_box {padding: 2rem; margin: 0 0 0 1.5rem;background-color: #f5f5f5; border: 1px solid #ddd; border-radius: 15px; }


/* 서브 - 넘버리스트박스 */

.list_num_box ul {display: flex; flex-direction: column; gap: 1rem;}
.list_num_box ul li {display: flex; flex-direction: row; }
.list_num_box i {font-size: 12px; background: #836953; color: #fff; width: 20px; height: 20px; border-radius: 50%; display: flex; justify-content: center; align-items: center; flex-shrink: 0;  }
.list_num_box p {margin-left: 0}




.content_html .content {width: 100%; margin-bottom: 3rem; text-align: center;}

.section {margin-bottom:3.75rem;}



/* contents_wrap */
.csize {width:100%; max-width:1440px; margin:0 auto;}


.sub_cont_inner {display: flex; flex-direction: column; align-items: center; justify-content: flex-start; gap: 1rem;}






@media all and (max-width: 1600px){

}

@media all and (max-width: 1456px) {
	.csize {width:auto; padding:0 1.5rem;}

}	


@media all and (max-width: 1200px){
	#pc_gnb .depth3 > li > a {    font-size: 0.875rem;}
}


@media all and (max-width: 1100px){
	#pc_header {display:none;}

	#mobile_header {display:block;}
	
	.fcont {text-align:center;}
	.fcont .b_logo {float:none; margin:0 auto;}
	.fcont address {float:none; margin-top:25px;}

	#main {padding-top: 66px; padding-bottom: 38px}
	.sub_top { position: relative; margin: 16px 0 40px;}

}

@media all and (max-width: 1000px){
	.content_html .contents_title h3 {font-size: 2rem;}
}


@media all and (max-width: 767.88px){
	
	#main {min-height: calc(100vh - 149px);}
	
	.csize {width:auto; padding:0 1rem;}

	.fmenu {margin:0 -10px;}
	.fmenu a {padding:0 10px; font-size:1rem; line-height:39px;}
	.fcont {padding:25px 0;}
	.fcont .b_logo {width:120px;}
	.fcont address {margin-top:15px; font-size:1rem; line-height:1.2;}
	.fcont address span {padding:0 7px;}


}